root {
  --main-font: 'Montserrat', sans-serif;
  --dark-color: #1c1c27;
  --light-color: #838383;
  --accent-color: #ffa542;
  --button-color: #101010;
  --light-accent-color: #ffce7f;
  --standart-drop-shadow: 0 0 10px
    rgba($color: #000000, $alpha: 0.1);
}
